<div class="container py-4">
    <h5 class="mb-3">ngx-dropdowns</h5>
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-sm btn-danger dropdown-toggle"
            aria-controls="dropdown-basic">
            Dropdown
        </button>

        <ul id="dorpdown-basic"  class="dropdown-menu"  *dropdownMenu  aria-labelledby="button-basic"  role="menu">
            <li role="menuitem">
                <a href="#!" class="dropdown-item">Link 1</a>
            </li>
            <li role="menuitem">
                <a href="#!" class="dropdown-item">Link 2</a>
            </li>
            <li role="menuitem">
                <a href="#!" class="dropdown-item">Link 3</a>
            </li>
            <li role="menuitem">
                <a href="#!" class="dropdown-item">Link 4</a>
            </li>
        </ul>
    </div>
</div>