<div class="container py-5" style="height: 110vh;">
    <h5 class="mb-4">ngx-datepicker</h5>
    <div class="row">
        <div class="col-12 col-md-4 form-group">
            <input type="text" class="form-control" placeholder="Datepicker-1" bsDatepicker
                [bsConfig]="{isAnimated: true}">
        </div>

        <div class="col-12 col-md-4 form-group">
            <input type="text" class="form-control" [bsValue]="todayDate" placeholder="Datepicker-2" bsDatepicker
                [bsConfig]="{isAnimated: true, dateInputFormat: 'MM-DD-YYYY' }">
        </div>
    </div>

    <h5 class="mb-3">set minDate-maxDate</h5>
    <div class="row">
        <div class="col-12 col-md-4 form-group">
            <input type="text" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                placeholder="Datepicker-3">
        </div>
    </div>

    <h5 class="mb-3">Show-Hide datepicker using onclick button</h5>
    <div class="row">
        <div class="col-10 col-md-4 form-group">
            <input type="text" #dp="bsDatepicker" bsDatepicker [outsideClick]="false" class="form-control"
                placeholder="Datepicker-4" [bsConfig]="{containerClass: 'theme-red' }">
        </div>
        <div class="col-2 col-md-4">
            <button class="btn btn-info btn-sm mr-3" (click)="dp.show()">Show DP</button>
            <button class="btn btn-danger btn-sm" (click)="dp.hide()">Hide DP</button>
        </div>
    </div>
</div>