<div class="container py-4">
    <h5 class="mb-3">ngx-tabs</h5>
    <tabset>
        <tab heading="tab1">
            <div class="pt-2">
                <h4>Tab 1</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor placeat consequuntur expedita non
                    facilis nemo veniam, porro id voluptatem deserunt sapiente possimus. Suscipit nobis, dignissimos
                    eveniet iure facilis delectus assumenda dolor in, fugiat aut possimus magni praesentium magnam
                    veniam temporibus?</p>
            </div>
        </tab>
        <tab heading="tab2">
            <div class="pt-2">
                <h4>Tab 2</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor placeat consequuntur expedita non
                    facilis nemo veniam, porro id voluptatem deserunt sapiente possimus. Suscipit nobis, dignissimos
                    eveniet iure facilis delectus assumenda dolor in, fugiat aut possimus magni praesentium magnam
                    veniam temporibus?</p>
            </div>
        </tab>
        <tab heading="tab3">
            <div class="pt-2">
                <h4>Tab 3</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor placeat consequuntur expedita non
                    facilis nemo veniam, porro id voluptatem deserunt sapiente possimus. Suscipit nobis, dignissimos
                    eveniet iure facilis delectus assumenda dolor in, fugiat aut possimus magni praesentium magnam
                    veniam temporibus?</p>
            </div>
        </tab>
    </tabset>

    <tabset type="pills">
        <tab heading="Pills 1">
            <div class="p-3 card">
                <h4>Pill 1</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor placeat consequuntur expedita non
                    facilis nemo veniam, porro id voluptatem deserunt sapiente possimus. Suscipit nobis, dignissimos
                    eveniet iure facilis delectus assumenda dolor in, fugiat aut possimus magni praesentium magnam
                    veniam temporibus?</p>
            </div>
        </tab>
        <tab heading="Pills 2">
            <div class="p-3 card">
                <h4>Pill 2</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor placeat consequuntur expedita non
                    facilis nemo veniam, porro id voluptatem deserunt sapiente possimus. Suscipit nobis, dignissimos
                    eveniet iure facilis delectus assumenda dolor in, fugiat aut possimus magni praesentium magnam
                    veniam temporibus?</p>
                <button class="btn btn-warning d-inline-block" style="width: 100px;">Reset</button>
            </div>
        </tab>
    </tabset>

    <div class="mt-4 tabs-third">
        <tabset [justified]="true">
            <tab heading="Tab Heading 1">
                <div class="card p-4 bg-warning">
                    <h6>Lorem ipsum dolor sit amet 1.</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, asperiores natus molestiae
                        et quae, deleniti unde eaque incidunt fuga assumenda libero sint odit illo vel cupiditate rerum,
                        quidem labore dicta. Quasi eveniet iure quod facere at, repellat debitis voluptas nostrum,
                        expedita ipsum reprehenderit optio nam possimus quas. Totam, sint non!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, obcaecati.s</p>
                </div>
            </tab>
            <tab heading="Tab Heading 2">
                <div class="card p-4 bg-secondary">
                    <h6>Lorem ipsum dolor sit amet 2.</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, asperiores natus molestiae
                        et quae, deleniti unde eaque incidunt fuga assumenda libero sint odit illo vel cupiditate rerum,
                        quidem labore dicta. Quasi eveniet iure quod facere at, repellat debitis voluptas nostrum,
                        expedita ipsum reprehenderit optio nam possimus quas. Totam, sint non!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia minima voluptatum obcaecati
                        minus. Quibusdam laudantium labore alias! Sapiente, totam iste?</p>
                </div>
            </tab>
            <tab heading="Tab Heading 3">
                <div class="card p-4 bg-success">
                    <h6>Lorem ipsum dolor sit amet 3.</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, asperiores natus molestiae
                        et quae, deleniti unde eaque incidunt fuga assumenda libero sint odit illo vel cupiditate rerum,
                        quidem labore dicta. Quasi eveniet iure quod facere at, repellat debitis voluptas nostrum,
                        expedita ipsum reprehenderit optio nam possimus quas. Totam, sint non!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolor beatae expedita voluptates
                        quibusdam voluptatibus corporis itaque aliquam rerum temporibus accusamus, assumenda tempore
                        minima quidem deserunt dicta incidunt quis dolore?</p>
                </div>
            </tab>
        </tabset>
    </div>
</div>