<ngx-ui-loader></ngx-ui-loader>

<header class="py-3">
    <nav>
      <ul class="d-flex nav-link align-content-center justify-content-between">
        <li><a href="#!" routerLink="/ngx-accordion" routerLinkActive="active">Accordion</a></li>
        <li><a href="#!" routerLink="/ngx-alert" routerLinkActive="active">Alert</a></li>
        <li><a href="#!" routerLink="/ngx-carousel" routerLinkActive="active">Carousel</a></li>
        <li><a href="#!" routerLink="/ngx-datepicker" routerLinkActive="active">Datepicker</a></li>
        <li><a href="#!" routerLink="/ngx-dropdowns" routerLinkActive="active">Dropdowns</a></li>
        <li><a href="#!" routerLink="/ngx-modal" routerLinkActive="active">Modal</a></li>
        <li><a href="#!" routerLink="/ngx-pagination" routerLinkActive="active">Pagination</a></li>
        <li><a href="#!" routerLink="/ngx-rating" routerLinkActive="active">Rating</a></li>
        <li><a href="#!" routerLink="/ngx-sorting" routerLinkActive="active">Sorting</a></li>
        <li><a href="#!" routerLink="/ngx-tabs" routerLinkActive="active">Tabs</a></li>
        <li><a href="#!" routerLink="/ngx-timepicker" routerLinkActive="active">Timepicker</a></li>
        <li><a href="#!" routerLink="/ngx-loader" routerLinkActive="active">Loader</a></li>
        <li><a href="#!" routerLink="/ngx-currency" routerLinkActive="active">Currency</a></li>
        <li><a href="#!" routerLink="/ngx-scroll" routerLinkActive="active">Scroll</a></li>
        <li><a href="#!" routerLink="/ngx-spinner" routerLinkActive="active">Spinner</a></li>
          <li><a href="#!" routerLink="/tab-scroll" routerLinkActive="active">Tab Scroll</a></li>
        <li><a href="#!" routerLink="/ngx-slick-slider" routerLinkActive="active">Slick Slider</a></li>
      </ul>
    </nav>
</header>

<router-outlet></router-outlet>