<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" fullScreen = "true"></ngx-spinner> -->
<div class="container py-4">
  <h5 class="mb-3">ngx-spinner</h5>
  <div class="row mb-4">
    <div class="col-4 col-md-4">
      <button class="btn btn-primary btn-sm" (click)="showSpinner()">Show Spinner</button>
    </div>
  </div>
  <div class="card-columns">
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="ball-8bits" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="ball-atom" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="ball-beat" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="ball-circus" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="ball-climbing-dot" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="ball-clip-rotate" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="pacman" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="square-jelly-box" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="square-loader" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="line-spin-fade" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="line-scale" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
    <div class="card loading position-relative">
      <ngx-spinner size="default"  type="ball-square-spin" [fullScreen]= false></ngx-spinner>
      <h5 class="card-title">Heading</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil molestiae perspiciatis quos. Non nobis corrupti
        laborum fuga odit officia sunt alias impedit sequi, harum illum iusto recusandae ad modi corporis deserunt,
        molestias quibusdam eligendi temporibus quos voluptatem nesciunt, quo dolor. Earum, architecto vitae illum nam
        tenetur obcaecati vero explicabo cumque.</p>
    </div>
  </div>
</div>
