<div class="container py-5">
  <h5 class="mb-4">Slick Slider</h5>
  <div>
    <h4 class="mb-4">Our Awards and Media Coverage</h4>
    <div class="awards-slider">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" (init)="slickInit($event)" (afterChange)="afterChange($event)"  (beforeChange)="beforeChange($event)" [config]="slideConfig">
        <div ngxSlickItem class="award-data slide">
          <div class="award-img mx-auto">
            <img src="../../../assets/images/award.png" class="img-fluid" alt="">
          </div>
        </div>
        <div ngxSlickItem class="award-data slide">
          <div class="award-img mx-auto">
            <img src="../../../assets/images/award.png" class="img-fluid" alt="">
          </div>
        </div>
        <div ngxSlickItem class="award-data slide">
          <div class="award-img mx-auto">
            <img src="../../../assets/images/award.png" class="img-fluid" alt="">
          </div>
        </div>
        <div ngxSlickItem class="award-data slide">
          <div class="award-img mx-auto">
            <img src="../../../assets/images/award.png" class="img-fluid" alt="">
          </div>
        </div>
        <div ngxSlickItem class="award-data slide">
          <div class="award-img mx-auto">
            <img src="../../../assets/images/award.png" class="img-fluid" alt="">
          </div>
        </div>
        <div ngxSlickItem class="award-data slide">
          <div class="award-img mx-auto">
            <img src="../../../assets/images/award.png" class="img-fluid" alt="">
          </div>
        </div>
        <div ngxSlickItem class="award-data slide">
          <div class="award-img mx-auto">
            <img src="../../../assets/images/award.png" class="img-fluid" alt="">
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <div>
      <h4 class="mb-4">Cards Slider</h4>
      <div class="card-slider policy-card row">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig1">
          <div ngxSlickItem class="col-lg-4 card-data slide">
            <div class="text-center">
              <img src="https://webuat.universalsompo.com/USGI/assets/images/usgi-icons/not-coverd/cover-hiv-48.svg" class="img-fluid mx-auto" alt="">
              <div class="card-body">
                <p>Medical Expenses would be covered up to 20% of the Sum Insured and shall be payable If You are diagnosed with HIV/ AIDS and You require Hospitalization as an Inpatient subject to other T & C. </p>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="col-lg-4 card-data slide">
            <div class="text-center">
              <img src="https://webuat.universalsompo.com/USGI/assets/images/usgi-icons/not-coverd/cover-hiv-48.svg" class="img-fluid mx-auto" alt="">
              <div class="card-body">
                <p>Medical Expenses would be covered up to 20% of the Sum Insured and shall be payable If You are diagnosed with HIV/ AIDS and You require Hospitalization as an Inpatient subject to other T & C. </p>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="col-lg-4 card-data slide">
            <div class="text-center">
              <img src="https://webuat.universalsompo.com/USGI/assets/images/usgi-icons/not-coverd/cover-hiv-48.svg" class="img-fluid mx-auto" alt="">
              <div class="card-body">
                <p>Medical Expenses would be covered up to 20% of the Sum Insured and shall be payable If You are diagnosed with HIV/ AIDS and You require Hospitalization as an Inpatient subject to other T & C. </p>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="col-lg-4 card-data slide">
            <div class="text-center">
              <img src="https://webuat.universalsompo.com/USGI/assets/images/usgi-icons/not-coverd/cover-hiv-48.svg" class="img-fluid mx-auto" alt="">
              <div class="card-body">
                <p>Medical Expenses would be covered up to 20% of the Sum Insured and shall be payable If You are diagnosed with HIV/ AIDS and You require Hospitalization as an Inpatient subject to other T & C. </p>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="col-lg-4 card-data slide">
            <div class="text-center">
              <img src="https://webuat.universalsompo.com/USGI/assets/images/usgi-icons/not-coverd/cover-hiv-48.svg" class="img-fluid mx-auto" alt="">
              <div class="card-body">
                <p>Medical Expenses would be covered up to 20% of the Sum Insured and shall be payable If You are diagnosed with HIV/ AIDS and You require Hospitalization as an Inpatient subject to other T & C. </p>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="col-lg-4 card-data slide">
            <div class="text-center">
              <img src="https://webuat.universalsompo.com/USGI/assets/images/usgi-icons/not-coverd/cover-hiv-48.svg" class="img-fluid mx-auto" alt="">
              <div class="card-body">
                <p>Medical Expenses would be covered up to 20% of the Sum Insured and shall be payable If You are diagnosed with HIV/ AIDS and You require Hospitalization as an Inpatient subject to other T & C. </p>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
  </div>
</div>